{% extends 'admin.html.twig' %}

{% block title %}Agences{% endblock %}

{% block main %}
    <h1>Agences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Tel agence</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.id }}</td>
                <td>{{ agence.nom }}</td>
                <td>{{ agence.telAgence }}</td>
                <td>{{ agence.adresse }}</td>
                <td>{{ agence.ville }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('agence_show', {'id': agence.id}) }}">afficher</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('agence_edit', {'id': agence.id}) }}">modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('agence_new') }}">Ajouter</a>
{% endblock %}
