{% extends 'agent.html.twig' %}

{% block title %}Facture{% endblock %}

{% block main %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Date De Facture</th>
                <td>{{ facture.dateDeFacture ? facture.dateDeFacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ facture.montant }}</td>
            </tr>
            <tr>
                <th>Payee</th>
                <td>{{ facture.payee ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">retour vers liste</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">modifier</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
