{% extends 'admin.html.twig' %}

{% block title %}Agents{% endblock %}

{% block main %}
    <h1>Agents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.getRoles()[0] }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('user_show', {'id': user.id}) }}">afficher</a>
                        <a class="btn btn-sm btn-outline-secondary" href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">rien à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Ajouter</a>
{% endblock %}
